.addNewRecipeForm label {
  display: block;
  margin-bottom: 0.1em;
  margin-top: 0.8em;
}

.addNewRecipeForm input,
.addNewRecipeForm textarea {
  display: block;
  margin: 0;
}

.addNewRecipeForm #imageUploadLabel,
.addNewRecipeForm #addIngredientsButton,
.addNewRecipeForm #addMethodButton {
  background: #72a9e1;
  color: #fff;
  cursor: pointer;
  text-align: center;
}

#imageUpload {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}

#imagePreview img {
  width: 100%;
}

.addNewRecipeForm fieldset {
  margin-top: 0;
  padding-top: 0.4em;
  width: 87%;
}

.addNewRecipeForm fieldset input,
.addNewRecipeForm fieldset textarea {
  background: #fff;
}

.quantityContainer,
.unitContainer {
  float: left;
  width: 48%;
}

.quantityContainer {
  margin-right: 2%;
}

.unitContainer {
  margin-left: 2%;
}

.addNewRecipeForm #addIngredientsButton,
.addNewRecipeForm #addMethodButton {
  margin-top: 0;
}

.addNewRecipeForm .submit {
  color: #fff;
  cursor: pointer;
  background: #a5b599;
}

.fieldArrayContainer {
  display: flex;
  align-items: center;
}

.fieldArrayContainer label {
  margin-top: 0;
}

.deleteButton {
  color: #c71717;
  cursor: pointer;
  font-size: 1.5em;
  margin-left: auto;
}

.addNewRecipeForm svg {
  pointer-events: none;
}

.validationError {
  color: #c71717;
  font-style: italic;
  font-size: 0.9em;
}

.error input,
.addNewRecipeForm fieldset .error textarea,
.addNewRecipeForm fieldset .error input {
  background: #fce7e7;
}

.fieldArrayContainer textarea {
  margin: 0;
}
