.recipeDetail .recipeImage {
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    border-radius: 0;
}

.recipeText {
    position: relative;
    background: white;
    /* margin-top: 10em; */
    top: 20vh;
    padding: 1em;
    border-radius: 7px;
    width: 89%;
    overflow: scroll;
    height: 63vh;
}