module.exports = {
    mongoURI: 'mongodb+srv://admin:password@cluster0-pvd0l.mongodb.net/meal-genie-development?retryWrites=true&w=majority',
    gmailUser: 'userhere@gmail.com',
    gmailPassword: 'gmailSpecificAppPasswordHere',
    awsAccessKeyId: 'awsAccessKeyIdGoesHere',
    awsSecretAccessKey: 'awsSecretAccessKeyGoesHere',
    awsBucketName: 'bucketNameHere',
    awsBucketRegion: 'bucketRegionHere'
}


