body {
  color: #525252;
  font-family: 'Quicksand', sans-serif;
  line-height: 1.5em;
  margin: 0;
}

.container {
  margin-bottom: 120px;
}

.pageContent {
  margin: 1em;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 1em;
}

a {
  color: #525252;
  text-decoration: none;
}

p {
  margin: 0;
}

ul {
  margin-left: 1em;
  padding: 0;
}

ul li {
  margin-bottom: 0.3em;
}