nav {
    margin-bottom: 1em;
    position: relative;
}

.logo {
    width: 50px;
    display: block;
    margin: auto;
}

.icon {
    color: #808080;
    font-size: 1.5em;
}

.recipeIcon {
    color: #808080;
    position: absolute;
    left: 0.5em;
    top: 1em;
    text-align: center;
}

.recipeIcon p {
    font-size: 0.8em;
}