nav {
    background: #fff;
    position: fixed;
    bottom: 0;
    height: 40px;
    padding: 0.5em 0;
    width: 100%;
    z-index: 100;
}

nav a {
    width: 50px;
}  

.logo{
    width: 50px;
    display: block;
    margin: auto;
}

.logo img {
    position: relative;
    bottom: 32px;
    width: 100%;
}

.icon {
    color: #808080;
    font-size: 1.5em;
}

.recipeIcon {
    color: #808080;
    position: absolute;
    left: 0.5em;
    bottom: 0.45em;
    text-align: center;
}

.recipeIcon p {
    font-size: 0.8em;
}